.container {
    display: flex;
    gap : 100px;
}

.c2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
  margin: 0;
}

.container {
  height: 100vh;              
  display: flex;
  justify-content: center;   
  align-items: center;        
  background: #f2f2f2;
}

.card {
  justify-items: center;
  width: 300px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#login {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    background-color: rgb(160, 227, 16);
    border: none;
}

#user{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border: none;
}

#pass {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border: none;
}