.photo-frame {
    width: 300px;
    border: 5px solid;
    border-color: blue;
    margin: 10px;
    padding: 15px;
}

.t {
    padding: 10px;
    height: 50px;
    width: 350px;
    border: 1px solid;
    border-collapse: collapse;
}

th, td{
    border: 2px solid black;
}

#header{
    background-color: rgb(223, 178, 112);
}

#t1{
    background-color: rgb(6, 225, 245);
}

#t2{
    background-color: coral;
}
