.image {
  width: 150px;        
  height: auto;
  border-radius: 250px;   
  border: 3px solid #9bb302;
}

.pfp {
    margin: auto;
    height: auto;
    width: 300px;
    border-color: black 3px solid;
    border-radius: 10px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
    padding: 20px;
}

.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 13px;
}

.call{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#p1{
    font-family:sans-serif;
    font-size: 13px;
}